/* Pagination container (move bullets up/down) */
.swiper-pagination {
  margin-bottom: 13px; /* space from bottom */
}

/* Default bullets */
.swiper-pagination-bullet {
  background-color: #bfac98 !important; /* force override */
  width: 13px;
  height: 13px;
  border-radius: 50%;
  opacity: 1 !important; /* sometimes opacity is lowered by default */
  transition: all 0.3s ease;
}

/* Active bullet (when slide is active) */
.swiper-pagination-bullet-active {
  width: 25px;              /* capsule width */
  height: 12px;             /* capsule height */
  border-radius: 9999px;    /* makes both ends fully rounded */
  background-color: #d4af37  !important; /* gold shade */
}
.swiper-button-next,
.swiper-button-prev {
  width: 60px;                  
  height: 60px;
  border-radius: 50%;         /* fully rounded */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
    backdrop-filter: blur(16px);  /* similar to Tailwind's backdrop-blur-lg */
  -webkit-backdrop-filter: blur(16px);
}

/* The arrow itself */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 19px;      /* arrow size */
  color: #d4af37;
  font-weight: bold;       /* gold arrow */
}

/* Hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #000;   /* black background */
}

.custom-pagination .swiper-pagination-bullet {
  background: #d4af37;
  opacity: 0.5;
  width: 13px;
  height: 13px;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  width: 24px;
}



